aiohttp
pyimgbox
python-dotenv # Optional, for local development with .env file
Flask[async]
gunicorn
pyrogram
tgcrypto ; platform_system != "Windows"
requests
dnspython
motor
uvloop ; platform_system != "Windows"
